version: '2'
services:    
    geodocker-pbase:
        build:
          context: ./base
          # choose one of images (centos.dockerfile / ubuntu.dockerfile)
          dockerfile: centos.dockerfile
        image: geodocker-pbase:latest
    geodocker-zookeeper:
        build: ./zookeeper
        image: daunnc/geodocker-zookeeper:latest
        depends_on:         
          - geodocker-pbase          
    geodocker-hadoop:
        build: ./hadoop
        image: daunnc/geodocker-hadoop:latest
        depends_on:
          - geodocker-zookeeper
    geodocker-accumulo:
        build: ./accumulo
        image: daunnc/geodocker-accumulo:latest
        depends_on:
          - geodocker-hadoop
    geodocker-spark:
        build: ./spark
        image: daunnc/geodocker-spark:latest
        depends_on:
          - geodocker-hadoop
    geodocker-geoserver:
        build: ./extras/geoserver
        image: daunnc/geodocker-geoserver:latest
        depends_on:
          - geodocker-spark
 geodocker-geoserver:
        build: ./extras/geoserver
        image: daunnc/geodocker-geoserver:latest
        depends_on:
          - geodocker-spark
